.live-status-betslip{
    font-size:.75rem;
    letter-spacing:.4px;
    line-height:8px;
    background:#ff3c31;
    color:#fff;
    -webkit-transform:rotate(0) skew(-10deg);
    -ms-transform:rotate(0) skew(-10deg);
    transform:rotate(0) skew(-10deg);
    padding:5px 5px;
    border-radius:3px;
    font-weight:700;
    display:inline-block;
    margin-right: 10px}

@media screen and (max-width:39.9375em){
    .live-status-betslip{
        font-weight:500;
        font-size:14px;
        padding:2px 2px;
        line-height:14px;
    }
}